/******************************************************************************
   *                            Vazir Font
   *****************************************************************************/
@font-face {
  font-family: 'Vazir';
  //src: url('/fonts/Vazir/Vazir.ttf') format('truetype');
  src: url('/fonts/Vazir/Vazir-Medium-FD-WOL.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir Bold';
  src: url('/fonts/Vazir/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir Light';
  src: url('/fonts/Vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
}

/******************************************************************************
   *                            Anjoman Font
   *****************************************************************************/

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/Anjoman/Anjoman-SuperHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Anjoman Bold';
  src: url('/fonts/Anjoman/Anjoman-ExtraBold.ttf') format('truetype');
}
